# System files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*environment*
*.egg-info/

# Image and media files
*.jpg
*.mp4
*.avi
*.mkv
*.mov
*.webm
*.m4v
*.flv
*.wmv
*.m4a
*.svg

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# IDE-related
.idea/

# Python virtual environments
venv/

# LaTeX-related files
*.tex
*.aux
*.bbl
*.log
*.out
*.dvi

# Data files
*.json
*.csv
*.tsv
*.xml
*.yaml
*.yml
*.pickle
*.pkl

# Text files
*.txt

# Miscellaneous
*.uFlash

# Other files
*.ncu-rep
*.svg
*.tex
